html {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black; 
    font-family: Arial;
}

body {
    background-color: rgb(31 31 31);
    padding: 30px 30px 100px 30px;
    height: 300px;
    width: 250px;
    border-radius: 20px;
}

 p {
    color: white;
}

span {
    color: rgb(142 188 35);
}

h3 {
    color: white;
    font-weight:lighter;
    font-size: 25px;

}

a {
   background-color: rgb(51 51 51); 
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
}

section, head {
    text-align: center;  
}

img {
    width: 80px;
    border-radius: 50px;
}

div {
    height: 30px;
}






